@if (status=='error'){
  <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50" role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">{{messageenvio}}.</span>
    </div>
  </div>
}
<div class="relative py-16 mx-auto text-gray max-w-7xl">
    <div class="flex flex-row antialiased text-gray-800" style="height: calc(100vh - 200px);">
      <div class="flex flex-row flex-shrink-0 p-4 bg-gray-100 rounded-l-3xl w-96">
          <div class="flex flex-col items-center flex-shrink-0 w-20 py-4 bg-custom-darkgreen rounded-3xl">
            <a (click)="navigateToMensajes()" class="flex items-center justify-center w-12 h-12 rounded-full cursor-pointer bg-custom-gray text-custom-darkgreen">
  <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
  </svg>
</a>


          </div>
          <div class="flex flex-col w-full h-full py-4 pl-4 pr-4 -mr-4">
            <div class="flex flex-row items-center">
              <div class="flex flex-row items-center">
                <div class="text-xl font-semibold">Mensajes</div>
              </div>
              <div class="ml-auto">
              </div>
            </div>
            <div class="mt-6">
                <div class="flex flex-col -mx-4 overflow-x-auto">
                  <div class="flex-grow mr-2 mb-2">
                    <input #pattern (keyup)="patron=pattern.value" (click)="clickbuscar()" type="text" placeholder="Buscar usuario..." class="w-full px-5 py-2 rounded-lg shadow-sm ">
                  </div>
                  @if (antiguos) {
                    @for (m of mensajes; track $index) {
                      @if (isRemitente(m.remitente.id)) {
                          <div #{{m.receptir.id}} class="flex flex-row items-center p-4 border-l-2 cursor-pointer hover:bg-gradient-to-r from-custom-green to-transparent border-custom-green" (click)="setRemi(m.receptor)">
                              <div class="flex items-center justify-center flex-shrink-0 w-10 h-10 font-bold rounded-full bg-custom-darkgreen text-custom-gray">
                                  {{m.receptor.nombre[0]}}
                              </div>
                              <div class="flex flex-col flex-grow ml-3">
                                <div class="flex items-center">
                                  <div class="text-sm font-medium">{{m.receptor.nombre}} {{m.receptor.apellidos}}</div>
                                </div>
                              </div>
                            </div>
                      }@else {
                          <div #{{m.remitente.id}} class="flex flex-row items-center p-4 border-l-2 cursor-pointer hover:bg-gradient-to-r from-custom-green to-transparent border-custom-green"  (click)="setRemi(m.remitente)">
                              <div class="flex items-center justify-center flex-shrink-0 w-10 h-10 font-bold rounded-full bg-custom-darkgreen text-custom-gray">
                                  {{m.remitente.nombre[0]}}
                              </div>
                              <div class="flex flex-col flex-grow ml-3">
                                <div class="flex items-center">
                                  <div class="text-sm font-medium">{{m.remitente.nombre}} {{m.remitente.apellidos}}</div>
                                </div>
                              </div>
                            </div>
                      }
                    }
                  }@else {
                    @for (u of usuarios|patron:patron; track $index) {
                      <div #{{u.id}} class="flex flex-row items-center p-4 border-l-2 cursor-pointer hover:bg-gradient-to-r from-custom-green to-transparent border-custom-green" (click)="setRemi(u)" (click)="antiguos=true">
                        <div class="flex items-center justify-center flex-shrink-0 w-10 h-10 font-bold rounded-full bg-custom-darkgreen text-custom-gray">
                            {{u.nombre[0]}}
                        </div>
                        <div class="flex flex-col flex-grow ml-3">
                          <div class="flex items-center">
                            <div class="text-sm font-medium">{{u.nombre}} {{u.apellidos}}</div>
                          </div>
                        </div>
                      </div>
                    }
                  }
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col w-full h-full px-4 py-6 bg-white rounded-r-3xl">
            @if (mostrarmensaje) {
              @if (isRemitente(remi.id)) {
          <div class="flex flex-row items-center px-6 py-4 bg-gray-100 shadow rounded-2xl">
            <div class="flex items-center justify-center flex-shrink-0 w-10 h-10 font-bold rounded-full bg-custom-darkgreen text-custom-gray">
              {{remi.nombre[0]}}
            </div>
            <div class="flex flex-col ml-3">
              <div class="text-sm font-semibold">{{remi.nombre}} {{remi.apellidos}}</div>
            </div>
          </div>
        }@else {
          <div class="flex flex-row items-center px-6 py-4 bg-gray-100 shadow rounded-2xl">
            <div class="flex items-center justify-center flex-shrink-0 w-10 h-10 font-bold rounded-full bg-custom-darkgreen text-custom-gray">
              {{remi.nombre[0]}}
            </div>
            <div class="flex flex-col ml-3">
              <div class="text-sm font-semibold">{{remi.nombre}} {{remi.apellidos}} </div>
            </div>
          </div>
        }
          <div class="h-full py-4 overflow-hidden">
            <div #messagesContainer class="h-full overflow-y-auto">
              <div class="grid grid-cols-12 gap-y-2">
                @for (m of mensajesunicos; track $index) {
                    @if (isRemitente(m.remitente.id)) {
                        <div class="col-start-6 col-end-13 p-3 rounded-lg">
                            <div class="flex flex-row-reverse items-center justify-start">
                              <div class="flex items-center justify-center flex-shrink-0 w-10 h-10 rounded-full bg-custom-darkgreen text-custom-gray" >
                                {{m.remitente.nombre[0]}}
                              </div>
                              <div class="relative px-4 py-2 mr-3 text-sm shadow bg-custom-green rounded-xl">
                                <div> {{m.mensaje}}</div>
                                <div class="mt-1 text-xs text-right text-gray-500">{{ m.fecha| date:'dd/MM/yyyy HH:mm'}}</div>
                              </div>
                            </div>
                          </div>
                    }@else {
                        <div class="col-start-1 col-end-8 p-3 rounded-lg">
                            <div class="flex flex-row items-center">
                                <div class="flex items-center justify-center flex-shrink-0 w-10 h-10 rounded-full bg-custom-darkgreen text-custom-gray">
                                    {{ m.remitente.nombre[0] }}
                                </div>
                                <div class="ml-3">
                                    <div class="px-4 py-2 text-sm shadow bg-custom-gray rounded-xl">
                                        <div>{{ m.mensaje }}</div>
                                        <div class="mt-1 text-xs text-right text-gray-500">{{ m.fecha| date:'dd/MM/yyyy HH:mm'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }


              </div>
            </div>
          </div>
          <div class="flex flex-row items-center">
            <div class="flex flex-row items-center w-full h-12 px-2 bg-gray-100 border rounded-3xl">
              <div class="w-full mx-6">
                <input #inputc (keyup)="input=inputc.value" type="text" class="flex items-center w-full h-10 text-sm bg-gray-100 border border-transparent focus:outline-none" placeholder="Escribe tu mensaje....">
              </div>

            </div>
            <div class="ml-4">
                <!-- Enviar mensaje -->
              <button (click)="enviarMensaje()" (click)="inputc.value=''" class="flex items-center justify-center w-12 h-12 text-black rounded-full bg-custom-green hover:bg-custom-darkgreen hover:text-custom-gray">
                <svg class="w-6 h-6 -mr-px transform rotate-90"
                     fill="none"
                     stroke="currentColor"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                </svg>
              </button>
            </div>
          </div>

        }
        @else {
          <div class="flex items-center justify-center h-full">
            <div class="text-center">
              <img src="../../assets/logo.png" class="mx-auto mb-4" style="height: 150px;" alt="Logo">
              <h1 class="text-2xl font-semibold">¡Bienvenido a la mensajería!</h1>
              <p class="text-gray-500">Debes seleccionar una conversación para ver los mensajes.</p>
            </div>
          </div>
        }
        </div>
      </div>
</div>
