@if (status=='success') {
    <div class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50" role="alert">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">{{message}}.</span> Puedes volver a la informacón de la clase pinchando <a [routerLink]="['/clase', claseId]">aquí</a>.
      </div>
    </div>
  }@else if (status=='error'){
    <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50" role="alert">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">{{message}}</span>
      </div>
    </div>
  }
  <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
  <button alt="Volver a la pagina de la Clase" (click)="goBack()" class="flex items-center px-2 py-1 mt-2 ml-2 font-semibold text-black rounded bg-custom-green hover:bg-custom-darkgreen hover:text-white">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mr-2 bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
      <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
    </svg>
    Volver
  </button>
</div>

<form #createclase (ngSubmit)="onSubmit(createclase)" class="max-w-md mx-auto mt-8">
    <div class="mb-4">
      <label for="nombre" class="block mb-2 text-sm font-bold text-gray-700">Nombre</label>
      <input type="text" id="nombre" name="nombre" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" value="{{infoclase}}" disabled>
    </div>
    @if (alumnos.length>0) {
      <div class="mb-4">
        <label for="alumnos" class="block mb-2 text-sm font-bold text-gray-700">Alumnos</label>
        @for (a of alumnos; track $index) {
            <div class="relative flex gap-x-3">
                <div class="flex items-center h-6">
                  <input id="{{ a.id }}" name="{{ a.usuario.nombre }}" [(ngModel)]="formData.alumnos[a.id]" [value]="a.id" type="checkbox" class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-600">
                </div>
                <div class="text-sm leading-6">
                    <label for="{{ a.usuario.nombre }}" class="font-medium text-gray-900">{{a.usuario.nombre}} {{a.usuario.apellidos}}</label>
                </div>
            </div>

        }

    </div>
    <div class="mb-4">
        <button alt="Inscribir Alumnos" type="submit" class="px-4 py-2 font-bold rounded bg-custom-green hover:bg-custom-darkgreen text-dark hover:text-custom-gray focus:outline-none focus:shadow-outline">Inscribir en la clase</button>
    </div>
    }@else{
      <div class="mb-4">
        <p class="text-sm text-black">No hay alumnos disponibles para inscribir en esta clase.</p>
      </div>
    }
</form>
