<div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
<button alt="Volver a la pagina de Clases" (click)="goBack()" class="flex items-center px-2 py-1 mt-2 ml-2 font-semibold text-black rounded bg-custom-green hover:bg-custom-darkgreen hover:text-white">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mr-2 bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
    <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
  </svg>
  Volver
</button>
</div>
<header class="text-gray-600 body-font">
    <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">

      <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto md:mr-auto">

        <a alt="Ir a la pagina de Información de la Clase" (click)="cinfo()" id="inf" class="flex flex-col items-center px-3 py-2 mr-5 font-medium text-black rounded-md cursor-pointer hover:bg-custom-darkgreen hover:text-white bg-custom-green ">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
          </svg>Info</a>
          <a alt="Ir a la pagina de Alumnos de la Clase" (click)="calumno()" id="alum" class="flex flex-col items-center px-3 py-2 mr-5 font-medium text-black rounded-md cursor-pointer hover:bg-custom-darkgreen hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
              </svg>Alumnos</a>
            <a alt="Ir a la pagina de Profesor de la Clase" (click)="cprof()" id="prof" class="flex flex-col items-center px-3 py-2 mr-5 font-medium text-black rounded-md cursor-pointer hover:bg-custom-darkgreen hover:text-white">
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>Profesor</a>

      </nav>
    </div>
  </header>

  <main>


      @if (infoclick) {
      <section>
        @for (clase of claseinfo; track $index) {
          <div class="flex items-center justify-center py-8">
            <div class="w-full max-w-2xl overflow-hidden rounded-lg shadow bg-custom-green">
              <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg font-bold leading-6 text-black">
                  {{clase.asignatura.nombre}}
                </h3>
                <p class="max-w-2xl mt-1 text-sm text-black">
                  Información de la clase:
                </p>
              </div>
              <div class="border-t border-gray-200">
                <dl>
                  <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Descripción:
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{clase.asignatura.descripcion}}
                    </dd>
                  </div>
                  <div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Días:
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{clase.dias | dias}}
                    </dd>
                  </div>
                  <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="flex items-center text-sm font-medium text-gray-500">
                      Hora de inicio:
                    </dt>
                    <dd class="flex items-center mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{clase.horaInicio | hora}}
                    </dd>
                  </div>
                  <div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Hora de fin:
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{clase.horaFin | hora}}
                    </dd>
                  </div>
                  <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Aula:
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{clase.aula.nombre}}
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
      }
      </section>

      }@else if (alumnosclick) {
        @for (clase of claseinfo; track $index) {
          <section>
            <div class="py-8">
               <div class="px-8 mx-auto text-gray max-w-7xl">
                  <div class="relative">
                    <div class="flex items-center justify-between px-6 py-4">

                      <div class="flex-grow mb-4 mr-4">
                        <input #pattern (keyup)="patron=pattern.value" type="text" placeholder="Buscar alumno..." class="w-full px-4 py-2 border-gray-300 rounded-lg shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
                      </div>
                      @if (identity.rol=='admin') {
                        <div class="mr-4">
                          <a [routerLink]="['/add/alumno',claseId]">
                            <button class="flex flex-col items-center px-3 py-2 mb-4 font-semibold text-black rounded-md hover:text-custom-gray hover:bg-custom-darkgreen bg-custom-green">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                              </svg>
                                Inscribir Alumno
                            </button>
                          </a>
                        </div>
                      }
                    </div>

                     <!-- lista alumnos -->
                      @if (clase.alumnos.length==0) {
                        <div class="flex items" style="justify-content: center;">
                          <p class="text-black">No hay alumnos inscritos en esta clase.</p>
                        </div>

                      }@else{
                     <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
                       @for (alumno of clase.alumnos| patronAlumno:patron; track $index) {
                        @if (identity.rol=='admin') {
                          <li class="col-span-1 bg-white divide-y divide-gray-200 rounded-lg shadow">
                            <div class="flex items-center justify-between w-full p-6 space-x-6">
                              <div class="flex-1 truncate">
                                <div class="flex items-center space-x-3">
                                  <h3 class="text-sm font-medium text-gray-900 truncate">{{alumno.usuario.nombre}} {{alumno.usuario.apellidos}}</h3>
                                  <span class="inline-flex flex-shrink-0 items-center rounded-full bg-custom-gray px-1.5 py-0.5 text-xs font-medium text-custom-darkgreen ring-1 ring-inset ring-custom-green">Id: {{alumno.id}}</span>
                                </div>
                                <p class="mt-1 text-sm text-gray-500 truncate">{{alumno.usuario.rol.charAt(0).toUpperCase() + alumno.usuario.rol.slice(1)}}</p>
                              </div>

                              <div class="flex items-center justify-center flex-shrink-0 w-10 h-10 font-bold capitalize rounded-full bg-custom-darkgreen text-custom-gray">
                                {{alumno.usuario.nombre[0]}}
                            </div>
                            </div>
                            <div>
                              <div class="flex -mt-px divide-x divide-gray-200">
                                <div class="flex flex-1 w-0">
                                  <a alt="Enviar correo electrónico al alumno" href="mailto:{{alumno.usuario.email}}" class="relative inline-flex items-center justify-center flex-1 w-0 py-4 -mr-px text-sm font-semibold text-gray-900 border border-transparent rounded-bl-lg gap-x-3">
                                    <svg class="w-5 h-5 text-custom-green" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z"/>
                                      <path d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z"/>
                                    </svg>
                                    {{alumno.usuario.email}}
                                  </a>
                                </div>
                                <div class="flex w-24">
                                  <button alt="Borrar Alumno de esta clase" (click)="confirmDelete(alumno)" class="relative inline-flex items-center justify-center flex-1 w-0 py-4 -ml-px text-sm font-semibold text-white bg-red-500 border border-transparent rounded-br-lg hover:bg-red-600 gap-x-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                      <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                    </svg>
                                    Borrar
                                  </button>
                                </div>
                              </div>
                            </div>
                          </li>
                        }@else {

                        <app-alumno-card [alumno]="alumno"></app-alumno-card>
                      }}
                     </ul>

                    }
                  </div>
               </div>
            </div>
         </section>
        }


        }@else if (profclick) {
          @for (clase of claseinfo; track $index) {
            <section>
              <div class="py-8">
                 <div class="px-8 mx-auto text-gray max-w-7xl">
                    <div class="relative">

                       <!-- lista profesor -->
                       <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">



                          <app-alumno-card [alumno]="clase.profesor"></app-alumno-card>

                       </ul>


                    </div>
                 </div>
              </div>
           </section>
        }
      }

      <!-- Modal Overlay -->
<div id="modal-overlay" style="z-index: 9999;" class="fixed inset-0 hidden bg-black opacity-50"></div>

<!-- Modal -->
<div id="delete-modal" tabindex="-1" aria-hidden="true" style="z-index: 99999;" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-md max-h-full p-4">
    <div class="relative rounded-lg shadow bg-custom-darkgreen">
      <button type="button" class="absolute top-3 end-2.5 text-gray-900 bg-white hover:bg-gray-100 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="delete-modal" (click)="closeModal()">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
      </button>
      <div class="p-4 text-center md:p-5">
        <svg class="w-12 h-12 mx-auto mb-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
        </svg>
        <h3 class="mb-5 text-lg font-normal text-white">¿Está seguro de que desea borrar este alumno de la clase?</h3>
        <h4 class="mb-5 font-normal text-dark">
          <div class="flex items-center p-4 mb-4 text-sm border border-white rounded-lg bg-custom-green">
            <svg class="flex-shrink-0 inline w-4 h-4 text-custom-darkgreen me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            Si borra al alumno, también borrará todas las calificaciones y faltas de asistencia asociadas a esta clase y este alumno.
          </div>
        </h4>
        <button (click)="deleteAlumno(alumnoToDelete)" data-modal-hide="delete-modal" type="button" class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-600 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
          Sí, estoy seguro
        </button>
        <button (click)="closeModal()" data-modal-hide="delete-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-100">No, cancelar</button>
      </div>
    </div>
  </div>
</div>

    </main>

