<section class="py-16">
<div class="relative p-4 px-8 mx-auto overflow-hidden bg-white border-4 max-w-7xl border-gray-200 col-span-full lg:col-span-3 rounded-xl">
    <h2 class="text-2xl font-bold mb-4 text-center">Faltas de Asistencia</h2>
    <div class="grid sm:grid-cols-2">
        <div class="relative z-10 flex flex-col justify-between space-y-12 lg:space-y-6">
            <ul class="list-disc space-y-4 pl-4">
                @for (grupo of faltasAgrupadas; track $index) {
                <h2 class="text-xl font-bold mb-4">{{ grupo.fecha.charAt(0).toUpperCase() + grupo.fecha.slice(1) }}</h2>
                <ul>
                    @for (falta of grupo.faltas; track $index) {
                    <li>
                        {{ falta.clase.asignatura.nombre }} - {{ falta.fecha | date: 'mediumTime' }}
                    </li>
                    }
                </ul>
                }
            </ul>
        </div>
    </div>
</div>
</section>
