<div class="overflow-y-auto max-h-64">
    <div class="flex-grow mr-2 mb-2">
        <input #pattern (keyup)="patron=pattern.value" type="text" placeholder="Buscar usuario..." class="w-full px-4 py-2 rounded-lg border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
      </div>
    <ul role="list" class="grid grid-cols-1 gap-6 ">
        @for (u of usuarios|patron:patron; track $index) {
            <li class="bg-white rounded-lg shadow-md p-4 mr-2" (click)="onClose(u)">
                <div>{{u.nombre}} {{u.apellidos}}</div>
            </li>
        }
    </ul>
</div>

