@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c-bg: snow;
    --c-scrollbar: #A6BDA9;
    --c-scrollbar-hover: #4d6e51;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 6px;
  }
  ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: var(--c-bg);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--c-scrollbar);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--c-scrollbar-hover);
  }
