@if (status=='success') {
  <div class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50" role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">Se han modificado los datos correctamente</span> Te estamos redirigiendo al login, para cargar tus datos actualizados.
    </div>
  </div>
}@else if (status=='error'){
  <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50" role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">No se han podido modificar los datos.</span> {{mensaje}}
    </div>
  </div>
}


<form #usereditForm (ngSubmit)="onSubmit(usereditForm)" class="max-w-md mx-auto mt-8">
  <div class="mb-4">
      <label for="name" class="block mb-2 text-sm font-bold text-gray-700">Nombre</label>
      <input placeholder="Nombre" type="text" id="name" name="name" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" [(ngModel)]="user.nombre" required>
  </div>

  <div class="mb-4">
      <label for="surname" class="block mb-2 text-sm font-bold text-gray-700">Apellidos</label>
      <input placeholder="Apellidos" type="text" id="surname" name="surname" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" [(ngModel)]="user.apellidos" required>
  </div>
  <div class="mb-4">
      <label for="email" class="block mb-2 text-sm font-bold text-gray-700">Correo Electrónico</label>
      <input placeholder="Correo Electrónico" type="email" id="email" name="email" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" [(ngModel)]="user.email" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}">
  </div>
  <div class="mb-4">
    <label for="password" class="block mb-2 text-sm font-bold text-gray-700">
      Contraseña
      <span class="text-gray-400">(Si no quieres modificarla, deja el hueco en blanco)</span>
    </label>

    <input placeholder="Contraseña" type="password" id="password" name="password" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" [(ngModel)]="user.password" required>
  </div>

  <div class="mb-4">
      <button type="submit" class="px-4 py-2 font-bold rounded bg-custom-green hover:bg-custom-darkgreen text-dark hover:text-custom-gray focus:outline-none focus:shadow-outline">Actualizar Datos</button>
  </div>
</form>
