<footer class="text-gray-600 body-font bg-custom-green">
  <div class="container flex flex-col items-center justify-center px-5 py-8 mx-auto sm:flex-row sm:justify-center">
    <a class="flex items-center justify-center font-medium text-black title-font mb-4 sm:mb-0">
      <img src="../../assets/logo.png" alt="Image" class="w-16 h-16 p-2 rounded-full">
      <span class="ml-3 text-xl">MyAcademy Manager</span>
    </a>
    <p class="text-sm text-black sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-custom-gray sm:py-2 flex items-center">
      Este trabajo está bajo la licencia  
      <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" class="inline-flex items-center ml-1">
          CC BY-SA 4.0
          <img class="h-5 ml-1" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
          <img class="h-5 ml-1" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
          <img class="h-5 ml-1" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="">
      </a>
    </p>
  </div>
</footer>

