<section class="py-16">
  <div class="relative px-8 mx-auto text-gray max-w-7xl">
    <div class="flex flex-wrap items-center mb-4 -m-4">
        <div class="flex-grow mb-4">
          <input #pattern (keyup)="patron=pattern.value" type="text" placeholder="Buscar clase..." class="w-full px-4 py-2 border-gray-300 rounded-lg shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
        </div>
      </div>
      <div class="grid grid-cols-1 gap-4 -m-4 sm:grid-cols-2 lg:grid-cols-3">
        @for (c of clases|patronClase:patron| paginate:{itemsPerPage:6, currentPage: page}; track c.id) {
          <div class="flex flex-col p-4">
            <div class="flex flex-col flex-grow p-8 bg-white border-2 border-gray-200 rounded-lg">
              <div class="inline-flex items-center justify-center flex-shrink-0 w-16 h-16 mb-4 rounded-full sm:mr-8 sm:mb-0 bg-custom-green text-custom-green-500" [innerHTML]="getSafeHtml(c.asignatura.img)"></div>
              <div class="flex-grow">
                <h2 class="mb-3 text-lg font-medium text-ellipsis whitespace-nowrap overflow-hidden text-gray-900 title-font">{{c.asignatura.nombre}}</h2>
                <p class="text-base leading-relaxed descripcion-asignatura text-ellipsis overflow-hidden">{{c.asignatura.descripcion}}</p>
              </div>
              <div class="mt-auto">
                <a alt="Ir a la pagina de detalles de la Clase" [routerLink]="['/clase', c.id]" class="inline-flex items-center text-custom-darkgreen">Más información
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        }
      </div>
      <div class="pagination rounded-lg flex justify-center my-16">
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
  </div>
</section>
